@import '~style/helpers';
@import '~components/list/style';

.graph_container {
	margin: 0 -15px;
	position: relative;
	user-select: none;
}

input#nodeCaption {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.2;
	height: 5em;
}

svg:focus{
	outline: none;
}
.graph_menu {
	position: absolute;
	top: 0;
	left: 0;
}
.graph_menu_expanded .graph_form_wrapper {
	background-color: #9fb8ad;
}
.graph_menu_toggle {
	position: absolute;
	// display: none;
	background-color: #fff;
	border: 1px solid rgba(80, 80, 80, 0.25);
	border-left: none;
	cursor: pointer;
	z-index: 2;
	padding: 0.25em;
	right: 0;
	top: 1em;
}
.graph_menu_expanded .graph_menu_toggle {
	display: inline-block;
}
.graph_menu_hidden .graph_menu_toggle {
	display: inline-block;
	left: 0;
}
.graph_form_wrapper {
	padding: 0.5em;
	max-width: 18em;
}
.menu_expansion {
	max-width: 18em;
	padding: 0.5em;
}
.menu_expansion form {
	width: 17em;
}
.graph_menu_expanded {
	height: 100%;
	background-color: #fff;
	border-right: 1px solid #ddd;
	overflow-y: auto;
	overflow-x: hidden;
}
.graph_menu_hidden {
	height: 100%;
	overflow-y: hidden;
}
.graph_menu_hidden .graph_form_wrapper, .graph_menu_hidden .menu_expansion {
	max-width: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.graph_form {
	z-index: 1;
	background: #FFF;
	width: 17em;
	box-shadow: 0 0 0.2em 0.2em rgba(80, 80, 80, 0.25);
}
.graph_form h2 {
	margin: 0 -0.25em;
}
.graph_form h5 {
	margin: 0 -0.25em;
}
.graph_form hr {
		margin: 0.25em -0.25em;
}
.graph_form textarea {
	font-size: 0.75em;
	line-height: 1.2em;
	text-align: center;
	height: 4.5em;
}

.menu_minimal {
	padding: 0.5em 1em;
	position: relative;
}
.menu_expand_button {
	position: absolute;
	bottom: 0;
	right: 0.5em;
	width: 1em;
	text-align: center;
	cursor: pointer;
}

.toolbox {
    padding: 0 0 0.75em 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 0 1em 0.5em 1em;
	max-height: 16em;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.toolbox.closed {
	max-height: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	border-top: 1px solid rgba(0,0,0,0);
}
.toolbox h6 {
	margin-top: 0.3em;
	margin-bottom: 0;
}
.toolbox .toolbox_row {
	margin-top: 0.2em;
}

.toolbox button {
	background-color: #9fb8ad;
	color: #fff;
	padding: 3px 7px;
	border: none;
	border-right: 1px solid #aec5ba;
}

.toolbox button:hover {
	cursor: pointer;
	text-shadow: 0 0 0.2em #ffbf94;
	box-shadow: inset 0px 0px 5px 3px #9bc5b3;
}
.toolbox button:focus {
	outline: none;
}
.toolbox button.icon {
	width: 2em;
	padding-left: 0;
	padding-right: 0;
}
.toolbox button.active {
	background-color: #9bc5b3;
	box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.125);
}
.toolbox_row :last-child {
	margin-right: 0!important;
}
.toolbox_grp>button:first-child {
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}
.toolbox_grp :first-child button {
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}
.toolbox_grp {
	margin-right: 0.25em;

}
.toolbox_grp>button:last-child {
	border-right: none;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
.toolbox_grp :last-child>button {
	border-right: none;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

/* SVG STUFF BEGIN -- include only interactive styles, anything else should be applied directly w/d3 for download */
text.nodelabel {
	cursor: move;
	user-select: none;
}
nav {
	user-select: none;
}
circle, .line {
	cursor: move;
}
/* SVG STUFF END */
