@import '~style/helpers';
@import '~components/list/style';

.graph_container {
	margin: 0 -15px;
	position: relative;
}

input#nodeCaption {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.2;
	height: 5em;
}

svg:focus{
	outline: none;
}
.graph_info {
	position: absolute;
	padding: 0.5em;
	top: 0;
	left: 0;
}
.graph_info_expanded {
	background-color: #fff;
	border-right: 1px solid #ddd;
	height: 100%;
}
.graph_form {
	width: 17em;
	padding: 0.5em 1em;
	background: #FFF;
	border-radius: 0.25em;
	box-shadow: 0 0 0.2em 0.1em rgba(80,80,80,.25);
}
.graph_form h2 {
	margin: 0 -0.25em;
}
.graph_form h5 {
	margin: 0 -0.25em;
}
.graph_form hr {
		margin: 0.25em -0.25em;
}
.graph_form textarea {
	font-size: 0.75em;
	line-height: 1.2em;
	text-align: center;
	height: 4.5em;
}


/* SVG STUFF BEGIN -- include only interactive styles, anything else should be applied directly w/d3 for download */
text.nodelabel {
	cursor: move;
}
circle, .line {
	cursor: move;
}
/* SVG STUFF END */
