nav {
	background: #EEE;
}

nav>button {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px!important;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav>button::after {
	content: "\f0c9";
}
