@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	font-family: monospace;
}

.home div {
	padding-bottom: 10px;
}

.home .clock {
	font-size: 2em;
}

a.block{
	display: block;
	width: 100%; /*todo figure out clickability*/
}

table {
	white-space: nowrap;
}

.home .nopad {
	padding: 0!important;
}
