@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	font-family: monospace;
	text-align: center;
}

.home button {
	font-size: 1.5em;
	font-family: monospace;
}

.home div {
	padding-bottom: 10px;
}

.clock {
	font-size: 2em;
}
