.user_link {
	cursor: pointer;
	background-color: #2e5057;
	color: #fff;
	border-radius: 2em;
}

.user_link:hover {
	color: #9fb8ad;
}

.text_action {
	display: none;
}

.text_action_show, tr:hover .text_action {
	display: inline-block;
	font-size: .7em;
	color: #9fb8ad80;
	padding-left: .4em;
	cursor: pointer;
}

.text_action_show:hover,.text_action:hover {
	color: #fc7!important;
}
