body#lapper-body {
}

.app-content{
	padding-top: 1em;
	padding-bottom: 3em;
}

#lapper-body .jumbotron {
	background-color: #f4f1bb;
}

#lapper-body .jumbotron a:not(.btn) {
	color: #2e5057;
}

#lapper-body .btn-primary {
	background-color: #2e5057;
	border-color: #2e5057;
}

#lapper-body .btn-secondary {
	background-color: #9fb8ad;
	border-color: #9fb8ad;
}

.dropdown-item a {
	color: #212529;
	display: block;
}

.dropdown-item a:hover {
	text-decoration: none;
}
